<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Chapter13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
  	<description>Connection</description>
  	<res-ref-name>jdbc/dogTest</res-ref-name> <!-- context.xml 에서 Resource name과 일치해야 한다 -->
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth> <!-- 권한은 Container가 가지고 있다. -->
  </resource-ref>
  
</web-app>

<!-- 웰컴 파일 : 웹 어플리케이션 설정정보를 저장 -->